<div id="application" class="clearfix">
  <header id="placement-chooser-toolbar">
    <h2 class="large-7 columns">
      Click a placement to go to the workbench
    </h2>

    <div class="large-5 columns">
      <select id="classroom-select" class="large-6 columns">
      </select>
      <div class="button-group large-6 columns">
        <% if @current_user %>
          <%= link_to "Log Out", logout_path, class: "button", id: "toolbar-logout-button" %>
        <% else %>
          <%= link_to "Log In", "/auth/google_oauth2", class: "button", id: "toolbar-login-button" %>
        <% end %>
        <button class="button" id="toolbar-list-button">
          List
        </button>
        <button class="button" id="toolbar-new-button">
          New
        </button>
      </div>
    </div>
  </header>

  <main>
    <section id="classroom-chooser">
    </section>

    <section id="placement-chooser">
      <ul id="placement-list" class="row">
      </ul>
    </section>
  </main>
</div>

<!-- Underscore templates are set to use #
     instead of %, to not conflict with ERB -->
<script type="text/template" id="placement-card-template">
  <h3>
    Placement <#- id #>
  </h3>
  <p>
    Classroom: <#- classroom_name #>
  </p>
  <p>
    <#- pairing_count #> of <#- student_count #> students paired
  </p>
  <p>
    Last modified <#- updated_at #>
  </p>
</script>



<!-- This all is ERB, not Underscore -->
<script type="text/javascript" id="classroom-data">
  window.classroomData = [
    <% @classrooms.each do |classroom| %>
      {
        id: <%= classroom.id %>,
        name: "<%= classroom.name %>",
        student_count: <%= classroom.students.length %>,
        company_count: <%= classroom.companies.length %>,
        placement_count: <%= classroom.placements.length %>
      },
    <% end %>
  ]

  window.placementData = [
    <% @placements.each do |placement| %>
      {
        id: <%= placement.id %>,
        classroom_name: "<%= placement.classroom.name %>",
        student_count: <%= placement.classroom.students.length %>,
        pairing_count: <%= placement.pairings.length %>
      },
    <% end %>
  ]
</script>
