<h2>Interview Results</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Result</th>
      <th>Reason</th>
    </tr>
  </thead>
  <tbody>
    <% @interview_results.each do |student, results| %>
      <% results.each do |company, result| %>
        <tr>
          <td><%= student %></td>
          <td><%= company %></td>
          <td><%= result[:score] %></td>
          <td><%= result[:reason] %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h2>Student Rankings</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Ranking</th>
    </tr>
  </thead>
  <tbody>
    <% @student_ranks.each do |student, rankings| %>
      <% rankings.each do |company, rank| %>
        <tr>
          <td><%= student %></td>
          <td><%= company %></td>
          <td><%= rank %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
