<h2><%= @classroom.name %></h2>
<p>Added <%= @classroom.created_at %> by <%= @classroom.creator.name %></p>

<p>Interview results spreadsheet: <%= link_to @classroom.interview_result_spreadsheet || "Not Set", "https://docs.google.com/spreadsheets/d/#{@classroom.interview_result_spreadsheet}" %></p>
<p>Student ranking spreadsheet: <%= link_to @classroom.student_ranking_spreadsheet || "Not Set", "https://docs.google.com/spreadsheets/d/#{@classroom.student_ranking_spreadsheet}" %></p>

<% if @classroom.students.count == 0 && @classroom.companies.count == 0 %>
  <p>
    Looks like this classroom's data hasn't been loaded yet.
    <%= button_to "Load from spreadsheets", populate_classroom_path(@classroom), class: "button" %>
  </p>

<% else %>
  <p>
    <%= button_to "Reload from spreadsheets", populate_classroom_path(@classroom), class: "warning button" %>
    Warning: this will destroy any existing placements for this classroom!
  </p>
  <section class="columns large-6 small-12">
    <h3><%= @classroom.students.count %> Students</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% @classroom.students.each do |student| %>
          <tr>
            <td><%= student.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>

  <section class="columns large-6 small-12">
    <h3><%= @classroom.companies.count %> Companies</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% @classroom.companies.each do |company| %>
          <tr>
            <td><%= company.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
<% end %>

<section class="button-group">
  <%= link_to "Classroom List", classrooms_path, class: "button" %>
  <%= link_to "Edit Classroom", edit_classroom_path(@classroom), class: "button" %>
  <%= link_to "Delete Classroom", classroom_path, method: :delete, data: { confirm: "This will destroy all placements for this classroom! Are you absolutely sure?" }, class: "alert button" %>
</section>
