<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Internship Placer" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
  </head>

  <body>

    <% if flash[:errors] or flash[:message] %>
      <section class="row status <%= flash[:status] %>">
        <h3><%= flash[:status] == :failure ? "A problem occurred: " : "" %><%= flash[:message] %></h3>
        <% if flash[:errors] %>
          <ul>
            <% flash[:errors].each do |name, problems| %>
              <% problems.each do |problem| %>
                <li><%= name %>: <%= problem %></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </section>
    <% end %>

    <%= yield %>

  </body>
</html>
